#Search {
    border-radius: 1px;
}

#Other-Fonts {
    min-width: 90px;
}

[class='btn']:focus {
    border: 2px solid #0078d7;
    outline: none;
}

[class='changes'] {
    border: 2px solid grey;
}