QWidget {
    background-color: #131313;
}

QPushButton {
    color: #FFFFFF;         
    background-color: #131313; 
    border: 1px solid #131313; 
    border-radius: 4px;
    font-size: 20px;
}

QPushButton:hover {
    background-color: #1D1D1D;
    border: 1px solid #131313;
}

QPushButton:pressed {
    background-color: #1a1a1a;
}

#historial_line {
    border: none;
}

#input_line {
    color: #FFFFFF;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #f8f3f2;
}

#fun_btn {
    color: #ff8800;
}